{% extends 'navbar.html' %}
{% load static  %}

{% block body %}

<body style="background-color:#5D6D7E">
<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background-color:	#D3D3D3">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <p class="lead">Welcome to Smart Wellness Program.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/adminsignup" role="button">SignUp</a>
    <a class="btn btn-dark btn-lg"  href="/adminlogin" role="button">Login</a>
  </p>
</div>
</body>
{% endblock body %} 

