{% extends 'doctor_base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<br><br><br><br>
<div class="container">
  <div class="row" >
    
    <div class="panel panel-primary col-md-20 " style="margin-left:15%" >
      <div class="panel-heading" style="text-align:center;">
        <h3 class="panel-title">Messages</h3>
      </div>
      <table class="table table-hover" id="dev-table" >
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Assistant Doctor Name</th>
            <th>Patient Name</th> 
            <th>Message</th>
            <th>Lab reports</th>
            <th>Time</th>

          </tr>
        </thead>
        {% for c in all_message %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td> {{c.assdoc_name}}</td>
          <td>{{c.Patient_name}}</td>
          <td>{{c.content}}</td>
           {% if c.lab_report %}
          <td><img src="{% static c.lab_report.url %}" alt="Profile Pic" height="40px" width="40px" /></td>  
         {% else %} 
              <td> - </td>
                    {% endif %} 
          <td>{{c.timestamp}}</td>

          <td bgcolor="white"><a class="btn-sm btn-danger" href="/doc-to-assdoc"
            role="button">Reply</a></td>

          <td bgcolor="white"><a class="btn-sm btn-danger" href="/assdoctor-message-delete?delt={{c.id}}"
            role="button">Delete</a></td>

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
