{% extends 'navbar.html' %}
{% load static %}
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>


{% block body %}


<body style="background-color:#5D6D7E">
<br>
<br>


<div class="jumbotron" style="margin-bottom:0px; background-color:	#D3D3D3 ">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead">Welcome to Smart Wellness Program.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-dark btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

</body>

{% endblock body %}

